@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@700&display=swap');

:root {
    --primary-color: #363538;
    --secondary-color: #8D8C8A;
    --accent1-color: #F6F6F6;
    --accent2-color: #408697;
    --accent3-color: #52D6F4;

    --heading-font: "Raleway";
    --paragraph-font: Lato, Helvetica, sans-serif;

    --portfolio-image-1: url('../images/Real_Estate_Thumbnail.jpg');
    --portfolio-image-2: url('../images/Restaurant_Thumbnail.jpg');
    --portfolio-image-3: url('../images/Travel_and_Tour_Thumbnail.jpg');
    --portfolio-image-4: url('../images/Health_and_Wellness_Thumbnail.jpg');
}

body {
    background-color: var(--primary-color);
}

#home-content {
    max-width: 1600px;
    margin: 0 auto;
    background-image: url("../images/Homepage-Background.png");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 20% 20% 5fr repeat(3, 2fr);
    grid-template-rows: 65px;
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-around;
    grid-column: 4/7;
    align-items: center;
    background-color: var(--primary-color);
}

nav a {
    color: var(--accent1-color);
    text-decoration: none;
    padding: 35px;
    position: relative;
}

nav a,
nav a:after,
nav a:before {
    transition: all .5s;
}

nav a:after {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--secondary-color);
    height: 1px;
}

nav a:hover {
    color: var(--secondary-color);
}

nav a:hover:after {
    align-items: center;
    width: 60%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    grid-column: 1/3;
    grid-row: 1/2;
}

.logo {
    width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: 100px 18% 18% 150px 1fr 50px 1fr 100px;
    grid-template-rows: 170px 50px 150px 50px 50px 150px 50px 1fr;
    ;
    padding-bottom: 50px;

}

.main-grid .profile-img {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-left: 165px;
    margin-top: 80px;
    --s: 150px;
    /* the size of the image */
    --b: 5px;
    /* the border thickness*/
    --g: 5px;
    /* the gap */
    --c: var(--accent3-color);
    /* the color */

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0006;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.3s;
}

.main-grid>.profile-img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

.main-grid .profile-img {
    border-radius: 50%;
}



.main-paragraph {
    grid-column: 2/4;
    grid-row: 3/-1;
    color: var(--accent3-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    text-align: center;
}

.main-paragraph p {
    font-family: var(--paragraph-font);
    text-align: justify;
}

#about-paragraph {
    margin-top: -50px;
}

.portfolio-site1,
.portfolio-site2,
.portfolio-site3,
.portfolio-site4,
.portfolio-site1::before,
.portfolio-site2::before,
.portfolio-site3::before,
.portfolio-site4::before,
.portfolio-site1:hover:before,
.portfolio-site2:hover:before,
.portfolio-site3:hover:before,
.portfolio-site4:hover:before {
    position: relative;
    background-size: 100%;
    border-radius: 5%;
    filter: grayscale(0);
    transition: 0.5s;
}

.portfolio-site1::before,
.portfolio-site2::before,
.portfolio-site3::before,
.portfolio-site4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);

}

.portfolio-site1 {
    grid-column: 5/6;
    grid-row: 2/4;
    background-image: var(--portfolio-image-1);
}

.portfolio-site1::before {
    background-image: var(--portfolio-image-1);
}

.portfolio-site2 {
    grid-column: 7/8;
    grid-row: 2/4;
    background-image: var(--portfolio-image-2);
}

.portfolio-site2::before {
    background-image: var(--portfolio-image-2);
}

.portfolio-site3 {
    grid-column: 5/6;
    grid-row: 5/7;
    background-image: var(--portfolio-image-3);
}

.portfolio-site3::before {
    background-image: var(--portfolio-image-3);
}

.portfolio-site4 {
    grid-column: 7/8;
    grid-row: 5/7;
    background-image: var(--portfolio-image-4);
}

.portfolio-site4::before {
    background-image: var(--portfolio-image-4);
}

.portfolio h2 {
    position: relative;
    margin: 40% 0;
    background: rgba(64, 134, 151, 0.5);
    color: var(--accent1-color);
    text-shadow: 1px 1px 5px var(--accent3-color);
}

.portfolio-site1 .portfolio,
.portfolio-site2 .portfolio,
.portfolio-site3 .portfolio,
.portfolio-site4 .portfolio {
    opacity: 1;
    transition: 0.5s;
}

.portfolio-site1:hover .portfolio,
.portfolio-site2:hover .portfolio,
.portfolio-site3:hover .portfolio,
.portfolio-site4:hover .portfolio {
    opacity: 0;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    padding-top: 0;
    text-align: center;
    font-weight: bold;
    height: 30px;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: var(--accent1-color);
}

.copyright {
    grid-column: 2/3;
    grid-row: 1/3;
}

.social {
    padding: 0 15px;
}

.social a {
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    margin: 0 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.social a .icon {
    position: relative;
    color: var(--secondary-color);
    transition: .5s;
    z-index: 3;
}

.social a:hover .icon {
    color: var(--accent3-color);
    transform: rotateY(360deg);
}

.site-plan {
    grid-column: 4/5;
    grid-row: 1/3;
}